<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>

<div id="map" style="width: 800px; height: 400px;"></div>
<p><button onclick="getMyPlace()">現在位置を取得</button></p>
<div id="result"></div>
<script>
  // handler = Gmaps.build('Google');
  // handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  //   markers = handler.addMarkers(<%= raw @hash.to_json %>);
  //   handler.bounds.extendWith(markers);
  //   handler.fitMapToBounds();
  // });
  google.maps.event.addDomListener( window, 'load', initMap );
  var geocoder;
  var map;
  var marker;
  function initMap() {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
        'address': `${gon.spot_address}`// TAM 東京
    }, function(results, status) { // 結果
      if (status === google.maps.GeocoderStatus.OK) { // ステータスがOKの場合
        map = new google.maps.Map(document.getElementById('map'), {
                center: results[0].geometry.location, // 地図の中心を指定
               zoom: 19 // 地図のズームを指定
           });
         marker = new google.maps.Marker({
               position: results[0].geometry.location, // マーカーを立てる位置を指定
                map: map // マーカーを立てる地図を指定
           });
      } else { // 失敗した場合
        console.group('Error');
        console.log(results);
        console.log(status);
      }
    });
  }

    function getMyPlace() {
    var output = document.getElementById("result");
    if (!navigator.geolocation){//Geolocation apiがサポートされていない場合
      output.innerHTML = "<p>Geolocationはあなたのブラウザーでサポートされておりません</p>";
      return;
    }
    function success(position) {
      var latitude  = position.coords.latitude;//緯度
      var longitude = position.coords.longitude;//経度
      output.innerHTML = '<p>緯度 ' + latitude + '° <br>経度 ' + longitude + '°</p>';
      // 位置情報
      var latlng = new google.maps.LatLng( latitude , longitude ) ;
      // Google Mapsに書き出し
      var map = new google.maps.Map( document.getElementById( 'map' ) , {
          zoom: 15 ,// ズーム値
          center: latlng ,// 中心座標
      } ) ;
      // マーカーの新規出力
      new google.maps.Marker( {
          map: map ,
          position: latlng ,
      } ) ;
    };
    function error() {
      //エラーの場合
      output.innerHTML = "座標位置を取得できません";
    };
    navigator.geolocation.getCurrentPosition(success, error);//成功と失敗を判断
  }
</script>