<!DOCTYPE html>
<html>
  <head>
    <title>SpotShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGjsrV20EwlEtJoSjK1qN5ssvAeLdWJ7Y&callback=initMap" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <%= include_gon %>
  </head>

  <body>
    <%= link_to "スポット登録", new_spot_path, method: :get, class: "header__right--btn" %>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
    <% else%>
      <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
    <% end%>
    <%= yield %>
  </body>
</html>
